<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<!-- header -->
<th:block th:fragment="headerFragment(activeTab)">

  <!-- 대문 컨테이너 -->
  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container banner">
      <h1 class="lead" style="color:ivory">&#8220;The best books… <br/>are those that tell you what you know already.&#8221;</h1>
      <p>– George Orwell</p>
    </div>
  </div>

  <!-- 네비게이션 바 -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/" th:href="@{/}">My Store</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" th:classappend="${activeTab == 'login'} ? active" sec:authorize="!isAuthenticated()"><!-- TODO 5.3 active 클래스 추가, authorize 속성 추가 -->
          <a class="nav-link" th:href="@{/login}">로그인</a> <!-- TODO 5.4 로그인 링크 추가-->
        </li>
        <li class="nav-item"><a class="nav-link" th:href="@{/signup}" th:classappend="${activeTab == 'signup'} ? active">회원가입</a></li> <!-- TODO 5.5 회원가입 링크 추가 -->

        <li class="nav-item" th:classappend="${activeTab == 'logout'} ? active">
          <form class="form-inline" th:action="@{/logout}" th:method="post"> <!--눈에 보이지 않는 폼-->
            <button class="nav-link btn btn-dark" type="submit" sec:authorize="isAuthenticated()">로그아웃</button>
          </form>
        </li>
        <!-- TODO 5.7 내 정보 페이지 링크를 다음으로 변경 -->
        <li class="nav-item" th:classappend="${activeTab == 'mypage'} ? active"
            sec:authorize="isAuthenticated()">
          <a class="nav-link" th:href="@{'/mypage/' + ${#authentication?.name}}" sec:authentication="name">내 정보</a>
        </li>

        <!-- TODO 5.8  -->
        <li class="nav-item" th:classappend="${activeTab == 'items'} ? active">
          <a class="nav-link" th:href="@{/}">상품목록</a>
        </li>

        <!-- TODO 5.9  -->
        <li class="nav-item" th:classappend="${activeTab == 'cart'}? active">
          <a class="nav-link" th:href="@{/}">장바구니</a>
        </li>

        <!-- TODO 5.10  -->
        <li class="nav-item" th:classappend="${activeTab} == 'like'? active" sec:authorize="isAuthenticated()">
          <a class="nav-link" th:href="@{/}"><i class="fas fa-heart"></i></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Category</a>
          <div class="dropdown-menu" data-toggle="pill">
            <a class="dropdown-item">도서</a>
            <a class="dropdown-item">앨범</a>
            <a class="dropdown-item">게임</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">기타</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0" action="#">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- TODO 5.11  -->
  <div class="alert alert-warning" role="alert" th:if="${member != null && !member.emailVerified}">
    가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
  </div>
</th:block>
</html>